@charset "UTF-8";

header, header > nav {
    flex-flow: column nowrap;
}

header > h1 {
    flex-basis: 50px;
}

i#burguer {
    display:inline
}

nav {
    display: block;
}

nav > a {
    display: inline-block;
}

main {
    width: 98vw;
}